
<ion-content padding class="loginMain">
  <div >
      <div style="width: 80%; margin:auto; margin-top: 40px;">
          <img [src]="imageLogo" style="width: 100%" />
      </div>

    <div class="InputsText" align="center">
      <div class="InputText">
        <input type="email" placeholder="הכנס מייל תקין" [(ngModel)]="info.mail" />
      </div>
      <div class="InputText mt10">
        <input type="password" placeholder="הכנס סיסמה" [(ngModel)]="info.password" />
      </div>


        <div style="font-size:15px; padding-bottom:10px; padding-top:5px;">
            <ion-icon name="ios-checkbox-outline" *ngIf="!info.agreeTerms"  style="font-size:30px;" (click)="toggleTerms(true)"></ion-icon>
            <ion-icon name="md-checkbox-outline" *ngIf="info.agreeTerms" style="font-size:30px;" (click)="toggleTerms(false)"></ion-icon>


            <span>יש להסכים לתנאי השימוש</span>
            <span (click)="openTerms()"><a href="#">תנאי שימוש </a></span>
        </div>


        <button class="loginButton"  ion-button block (click)="checkLogin()">התחל</button>
        <a class="register" (click)="GoToRegister()">הרשמ/י למערכת</a>
        <div style="margin-top:5px;">
            <a class="register" (click)="openForgotPassPage()">שכחתי סיסמה</a>
        </div>
    </div>
  </div>
</ion-content>
