<ion-header>
    <ion-navbar no-border-top class="ToolBarClass">
        <button ion-button menuToggle end="">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <div style="width: 100%">
                <img [src]="imageLogo" class="headLogo1"/>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <div class="Video">
        <iframe width="100%" height="230" [src]="personal_details_video" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div align="center" *ngIf="Details != ''">

        <div class="friendName">
            <input type="text" [(ngModel)]="Details.name" class="friendNameText" placeholder="שם מלא">
        </div>
        <!--
        <div class="friendName">
            <input type="text" class="friendNameText" [(ngModel)]="Details.mail" placeholder="אימייל">
        </div>
        -->
        <div class="friendName">
            <input type="tel" class="friendNameText" [(ngModel)]="Details.phone" placeholder="מספר טלפון">
        </div>

        <div class="friendName">
            <input type="tel" class="friendNameText" [(ngModel)]="Details.password" placeholder="הסיסמה שלך באפליקצייה">
        </div>

        <div class="friendName">
            <input type="text" class="friendNameText" [(ngModel)]="Details.accout_name" placeholder="שם בעל חשבון הבנק">
        </div>

        <div class="friendName">
            <input type="text" class="friendNameText" [(ngModel)]="Details.bank_number" placeholder="שם הבנק">
        </div>

        <div class="friendName">
            <input type="tel" class="friendNameText" [(ngModel)]="Details.snif_number" placeholder="מספר סניף">
        </div>

        <div class="friendName">
            <input type="tel" class="friendNameText" [(ngModel)]="Details.bank_acoount_number" placeholder="מספר חשבון">
        </div>

        <button ion-button class="suggestSendButton" (click)="saveDetails()">עדכן פרטים</button>
    </div>
</ion-content>


<ion-footer style="padding: 0px; margin: 0px; background-color: #144e6e">

</ion-footer>