<ion-header>
    <ion-navbar no-border-top class="ToolBarClass">
        <button ion-button menuToggle end="">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <div style="width: 100%">
                <img [src]="imageLogo" *ngIf="imageLogo" class="headLogo"/>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="Video">
        <iframe width="100%" height="230" [src]="mainpagevideo" *ngIf="mainpagevideo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="verticalLine"></div>
    <div class="mainIcons">
        <div class="mainRow">
            <div class="mainRowLeft" align="center" (click)="goToProfile()" >
                <div class="mainRowDiv">
                    <img src="images/mi2.png" style="width: 100%"/>
                </div>
            </div>
            <div class="mainRowRight" (click)="goToSuggest()">
                <div class="mainRowDiv">
                    <img src="images/mi1.png" style="width: 100%; margin-left: 30px;"/>
                </div>
            </div>
        </div>
        <div class="mainRow">
            <div class="mainRowLeft" align="center" (click)="goToMyAccount()">
                <div class="mainRowDiv">
                    <img src="images/mi3.png" style="width: 100%"/>
                </div>
            </div>
            <div class="mainRowRight" (click)="goToFAQ()">
                <div class="mainRowDiv">
                    <img src="images/mi4.png" style="width: 100%; margin-left: 30px;"/>
                </div>
            </div>
        </div>
        <div class="mainRowNoBorder">
            <div class="mainRowLeft" align="center" (click)="goToAbout()">
                <div class="mainRowDiv">
                    <img src="images/mi5.png" style="width: 100%"/>
                </div>
            </div>
            <div class="mainRowRight" (click)="shareViaWhatsApp()">
                <div class="mainRowDiv">
                    <img src="images/mi6.png" style="width: 100%; margin-left: 30px;"/>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer style="padding: 0px; margin: 0px; background-color: #144e6e">
    <footer></footer>
</ion-footer>