<ion-header>
    <ion-navbar no-border-top class="ToolBarClass">
        <button ion-button menuToggle end="">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <div style="width: 100%">
                <img [src]="imageLogo" class="headLogo1"/>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <!--
    <div class="Video" *ngIf="keyboardHide">
        <iframe width="100%" height="230" [src]="suggestvideo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
     -->
    <div align="center">
        <!--<div class="friendIcon">-->
            <!--<img src="images/suggest.png" style="width: 100%"/>-->
        <!--</div>-->

        <div class="InputText">
            <input type="text" [(ngModel)]="info.name" class="mt10" placeholder="הכנס את שם החבר">
        </div>

        <div class="InputText">
            <input [(ngModel)]="info.phone" type="tel" class="mt10" placeholder="הכנס מספר טלפון של החבר">
        </div>

        <div class="InputText mt10">
            <textarea [(ngModel)]="info.info" name="info" placeholder="פרטים נוספים" rows="4"></textarea>
        </div>

        <button ion-button class="suggestSendButton" (click)="sendMessageToFriend()">שלח לחבר</button>
    </div>
</ion-content>


<ion-footer style="padding: 0px; margin: 0px; background-color: #144e6e">
    <footer></footer>
</ion-footer>
