
<ion-header>
    <ion-navbar no-border-top class="ToolBarClass">
        <button ion-button menuToggle end="">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <div style="width: 100%">
                <img [src]="imageLogo" class="headLogo1"/>
            </div>
        </ion-title>


        <ion-buttons  end >
            <button (click)="requestWithdraw()" *ngIf="calculateSum() >= 500" ion-button icon-only>
                <ion-icon name="logo-usd"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>


<ion-content>
    <div class="Video">
        <iframe width="100%" height="230" [src]="myaccountvideo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div>
        <div *ngFor="let recommend of recommendArray let i=index" >
            <!---    Row ----- -->
            <div class="accountRow" >
                <div class="accountImage" align="center">
                    <div style="width: 80%">
                        <img src="images/avatar/1.png" style="width: 100%;"/>
                    </div>
                </div>
                <div class="accountTitle">
                    <p class="accountTitleName">{{recommend.name}}</p>
                    <p class="accountTitlePhone">{{recommend.phone}}</p>
                </div>
                <div class="accountPrice">
                    {{recommend.deal_price}} ש"ח
                </div>
            </div>
            <div class="rowLine"></div>
        </div>
    </div>
</ion-content>
<ion-footer align="center" no-border>
   <div class="footerPrice">
       סה"כ {{calculateSum()}} ש"ח
   </div>
</ion-footer>